<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <thead>
    <tr>
        <th>rank</th>
        <th>닉네임</th>
        <th>프로필</th>
        <th>시간</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ranking : ${ranking}">
        <td th:text="${ranking.ranking}"></td>
        <td th:text="${ranking.nickName}"></td>
        <td th:text="${ranking.path}"></td>
        <td th:text="${ranking.totalStudyingTime}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>